body{font-family: Georgia, serif;padding: 20px 20px 40px 20px !important; color: #333;background:#fff !important;}
table { width:100%;}
td { border:1px solid #ccc;}
ul{	margin: 0;padding: 0 0 0 20px;}
p{margin: 0 0 10px 0;}
.text-right { text-align:right;}
.text-center { text-align:center;}
h4{margin: 0 0 10px;}

/* Remove focus ring as all screen readers tested on add their own focus ring */
:focus{
  outline: 0;
}

/* ---------------------------------

		A C C O R D I A N

--------------------------------- */

.accordion{
	border-radius: 3px;
	overflow: hidden;
	border: 3px solid #6495ED;
	max-width: 350px;
}

.accordion-panel__heading{
	position: relative;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #6495ED;
	background: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #6495ED;
	transition: all .2s;
	cursor:pointer;
}
.accordion-panel__heading:before{
	transition: all .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__heading.active:before{
	transition: all .2s .2s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__heading:HOVER{
	color: #333;
	background: #f1f1f1;
	transition: all .2s;
}
.accordion-panel__heading.active:HOVER,
.accordion-panel__heading.active {
	transition: all .2s;
	color: #333;
	background: #fff;
	border-bottom: 0;
	padding: 20px 20px 20px 40px;
}
.accordion-panel__content{
	transition: all .2s;
	position: relative;
	padding: 0 20px 0 20px;
	background: #f1f1f1;
    max-height: 0;
    overflow: hidden;
}
.accordion-panel__content:before{
	transition: all .2s ease;
	content: "";
	border: 0px #6495ED solid;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}
.accordion-panel__content.active:before{
	transition: all .2s .2s;
	border-left: 15px #6495ED solid;
}
.accordion-panel__content.active {
	transition: all .2s;

    max-height: 500px;
    background: #fff;
   padding: 10px 20px 15px 40px;
}
